@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #ff00cc, #3333ff, #00ffcc);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: white
}

.skills-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 40px;
    scroll-behavior: smooth;
    justify-content: flex-start;
}


.navbar-collapse {
    transition: max-height .4s ease-in-out;
}

.skills-scroll::-webkit-scrollbar {
    height: 8px;
}

.skills-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.skill-card {
    min-width: 150px;
    height: 90px;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    font-weight: 600;
    flex-shrink: 0;
}

.skill-card i
{
font-size: 28px;
}

.skill-card:hover {
    transform: scale(1.2);
    background-color: none;

}

.project-content {
    display: none;
}

.project-content.active {
    display: block;
}

.nav-tabs .nav-link {
    color: #aaa;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #28a745;
}

.nav-item {
    color: black;
}

.project-images {
    max-width: 100%;
    padding-bottom: 10px;
}

.project-img {
    max-height: 300px;
    width: auto;
    flex-shrink: 0;
}

p.lead {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vp1 {
    text-decoration: none;
    position: relative;
    color: rgb(36, 251, 36)
}

.vp1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.vp1:hover::after {
    width: 100%;
}

.vp1:hover {
    color: red;
}